.adduser {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    input {
      background: transparent;
      padding: 10px 20px;
      width: 100%;
      color: white;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    }
    button{
        margin: 0 auto;
        background: transparent;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      &:hover{
        filter: drop-shadow(5px 5px 15px #fff);
      }
    }
  }
}
